src/Client/GreenOneBlobStorageApp/Connected Services/DocumentServiceClient/DocumentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60188/DocumentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenOneBlobStorageService.Domain" />
  <xs:import schemaLocation="http://localhost:60188/DocumentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GreenOneBlobStorage.Common" />
  <xs:element name="Post">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GreenOneBlobStorageService.Domain" minOccurs="0" name="request" nillable="true" type="q1:DocumentServicePostRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GreenOneBlobStorageService.Domain" minOccurs="0" name="PostResult" nillable="true" type="q2:DocumentServicePostResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GreenOneBlobStorage.Common" minOccurs="0" name="document" nillable="true" type="q3:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GreenOneBlobStorage.Common" minOccurs="0" name="GetResult" nillable="true" type="q4:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GreenOneBlobStorageService.Domain" minOccurs="0" name="request" nillable="true" type="q5:DocumentServiceDeleteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GreenOneBlobStorageService.Domain" minOccurs="0" name="DeleteResult" nillable="true" type="q6:DocumentServiceDeleteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>