src/Client/GreenOneBlobStorageApp/Connected Services/DocumentServiceClient/DocumentService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreenOneBlobStorageService.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreenOneBlobStorageService.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60188/DocumentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GreenOneBlobStorage.Common" />
  <xs:import schemaLocation="http://localhost:60188/DocumentService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="DocumentServicePostRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GreenOneBlobStorage.Common" minOccurs="0" name="Documents" nillable="true" type="q1:ArrayOfDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentServicePostRequest" nillable="true" type="tns:DocumentServicePostRequest" />
  <xs:complexType name="DocumentServicePostResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Documents" nillable="true" type="q2:ArrayOfguid" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentServicePostResponse" nillable="true" type="tns:DocumentServicePostResponse" />
  <xs:complexType name="DocumentServiceGetRequest">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GreenOneBlobStorage.Common" minOccurs="0" name="Document" nillable="true" type="q3:Document" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentServiceGetRequest" nillable="true" type="tns:DocumentServiceGetRequest" />
  <xs:complexType name="DocumentServiceGetResponse">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GreenOneBlobStorage.Common" minOccurs="0" name="Document" nillable="true" type="q4:Document" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentServiceGetResponse" nillable="true" type="tns:DocumentServiceGetResponse" />
  <xs:complexType name="DocumentServiceDeleteRequest">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GreenOneBlobStorage.Common" minOccurs="0" name="Documents" nillable="true" type="q5:ArrayOfDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentServiceDeleteRequest" nillable="true" type="tns:DocumentServiceDeleteRequest" />
  <xs:complexType name="DocumentServiceDeleteResponse">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Documents" nillable="true" type="q6:ArrayOfguid" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentServiceDeleteResponse" nillable="true" type="tns:DocumentServiceDeleteResponse" />
</xs:schema>